body, html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(
        90deg,
        #0a0a0a,
        rgb(32, 32, 32),
        #0a0a0a
    );
    background-color: rgb(39, 39, 39);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    flex-direction: column;
    color: white;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border: none;
    background-color: rgba(0, 0, 0, 0.99);
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: #759fac;
    border-radius: 1px;
}

.box {
    width: 380px;
    position: relative;
    height: 490px;
    background: #1c1c1c;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 7%;
    overflow: hidden;
}

.box::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #759fac,
        #759fac,
        #759fac
    );
    z-index: 1;
    animation: animation1 6s linear infinite;
    transform-origin: bottom right;
}

.box::after{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(
        0deg,
        transparent,
        transparent,
        #759fac,
        #759fac,
        #759fac
    );
    z-index: 1;
    animation: animation1 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: -3s;
}

@keyframes animation1 {

    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }

}

.box form{
    position: absolute;
    inset: 4px;
    background: #222;
    border-radius: 8px;
    padding: 50px 40px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2 {
    color: #759fac;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

.box form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 35px;
}

.box form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    color: #fff;
}

.box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    top: -5px;
}

.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-20px);
}

.box form .inputBox i 
{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #759fac;
    border-radius: 4px;
    overflow: hidden;
    transition: .5s;
    pointer-events: none;
}

.box form .Links {
    display: flex;
    justify-content: space-between;
}

.box form .Links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

.box form .Links a:hover,
.box form .Links a:nth-child(2) 
{
    color: #fff;
}

.box form input[type="submit"] {
    border: 1px solid #759fac;
    outline: none;
    padding: 9px 25px;
    background: #ffffff00;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 40%;
    transition: .5s;
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
}

.box form input[type="submit"]:active {
    opacity: 0.8;
    transform: scale(1);
}

.box form input[type="submit"]:hover {
    transform: scale(1.1);
    background: #759fac;
}

/*-----------------Animations------------------*/
/*--------------------FOOTER--------------------*/

footer {
    background-color: rgba(5, 5, 5, 0.982) ;
    color: white;
    font-family: Arial;
    padding: 30px;
    line-height: 2;
    height: 260px;
    margin-top: 30%;
}

footer section {
    float: right;
    margin-top: 25px;
    margin-left: 30px;
}

footer section a {
    text-align: left;
    float: right;
    text-decoration: none;
    font-size: 15px;
    color: #759fac;
    transition: .5s
}

footer section a:hover {
    color: #addbe9;
}

.footersection1, .footersection2, .footersection3, .footersection4 {
    font-size: 13px;
    text-align: left;
    margin-top: 30px;
    float: left;
    margin-left: 30px;
}

.footersection1, .footersection3 {
    height: 152px;
}

footer #Copyright {
    margin-bottom: 0;
    float: right;
    margin-top: 30px;
    font-size: 12px;
}

footer .SenaPro {
    float: left;
    margin-top: 30px;
    font-size: 13px;
    color: rgb(255, 255, 255);
    width: 130px;
}

footer #SENALog {
    float: right;
    margin-left: 5px;
    margin-top: -10px;
}

footer #CyberLearningLog{
    float: right;
    margin-left: 5px;
    border-radius: 100%;
    margin-top: -10px;
}

footer .MoreInfoAboutUs {
    float: left;
    font-size: 13px;
    float: left;
    margin-top: 29px;
    margin-left: 90px;
    width: 162px;
}

footer .MoreInfoAboutUs:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
}


footer .MoreInfoAboutUs a {
    text-decoration: none;
    color: white;
}

footer .CyberLearning {
    float: left;
    font-size: 13px;
    margin-top: 29px;
    margin-left: 90px;
    width: 160px;
}

.ForCenter {
    border-top: 1px solid rgb(66, 66, 66);
    margin-bottom: 0px;
    height: 200px;
    border-bottom: 1px solid rgb(66, 66, 66);
 
}